@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import './home.sass';
@import './projects.sass';
@import './experience.sass' ;
@import './footer.sass';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: rgba(0,0,0,0.87);

}
  
* {
  box-sizing: border-box;
}
